# Python Einführung
## Unterüberschrift

*kursiv* **fett**
- Punkt 1
- Punkt 2
- Punkt 3

1.1 Anweisung

In [1]:
print ("Hello world!")

Hello world!

1.2 Kommentare

In [2]:
#Dasist ein Kommentar
'''
jökjökö
öjökjök
ökjöjkj
'''
print("someting")

someting

1.3 Einfache Datentypen

In [3]:
# Variable und Wertzuweisung
name = "Lovelace"
print(name)

Lovelace

In [4]:
# String - Zeichenkette
first_name = "Ada"
first_name

'Ada'

In [5]:
# Integer - Ganzzahl
age = 73
print(age)

73

In [6]:
# Float - Gleitkommazahl
size = 1.234
print(size)

1.234

In [7]:
knows_math = True
print(knows_math)

True

In [8]:
likes_slacking = False
print(likes_slacking)

False

In [9]:
type(name)

str

In [10]:
type(age)

int

In [11]:
type(size)

float

In [12]:
age_string = str(age)

In [13]:
type(age_string)

str

1.4 Operatoren

In [14]:
# addition von Integers
5 + 5

10

In [15]:
# multiplikation 
age * 100

7300

In [16]:
name + name

'LovelaceLovelace'

In [17]:
name * 7

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [18]:
name + "10"

'Lovelace10'

In [19]:
# Division
size / age

0.016904109589041094

1.5 Funktionen und Methoden

In [20]:
print(name)
len(name)

Lovelace

8

In [21]:
name.upper()

'LOVELACE'

In [22]:
print(name)

Lovelace

In [23]:
name_upper_case = name.upper()

In [24]:
print(name_upper_case)

LOVELACE

In [25]:
name.count("e")

2

In [26]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [27]:
print(name)

Lovelace

In [28]:
noch_name = "katze"

In [29]:
noch_name = noch_name.upper()

In [30]:
print(noch_name)

KATZE

1.6 Listen und Dictionaries

In [31]:
# Liste
names = ["Lovelace", "Darvin", "Curie", "Hawking"]

In [32]:
names[2]

'Curie'

In [33]:
names[0]

'Lovelace'

In [34]:
names[-1]

'Hawking'

In [35]:
print(names)
names[0:3]

['Lovelace', 'Darvin', 'Curie', 'Hawking']

['Lovelace', 'Darvin', 'Curie']

In [36]:
# slicing
names[:2]

['Lovelace', 'Darvin']

In [37]:
names[2:]

['Curie', 'Hawking']

In [38]:
# Dictionaries
authors_and_birth_years = {"lovelace": 1882,
                          "Darwin": 1809,
                          "Noether": 1882,
                          "Hawking": 1842}

In [39]:
authors_and_birth_years["Darwin"]

1809

In [40]:
type(authors_and_birth_years)

dict

In [41]:
name.upper()

'LOVELACE'

2 for-Schreifen

In [47]:
for last_name in names:
    print(last_name + " did awsome stuff.")
print("-------------")

Lovelace did awsome stuff.
Darvin did awsome stuff.
Curie did awsome stuff.
Hawking did awsome stuff.
-------------

In [60]:
for authors in authors_and_birth_years.keys():
    print(authors)

lovelace
Darwin
Noether
Hawking

In [63]:
for key, value in authors_and_birth_years.items():
    print(key, value)

lovelace 1882
Darwin 1809
Noether 1882
Hawking 1842

2.1 Bedingte Anweisungen (Conditionals)

In [66]:
temp = 20
if temp > 15:
    print ("it's warm")

it's warm

In [67]:
20 > 15

True

In [71]:
temp = 26
if temp > 25:
    print("it's hot")
elif temp > 15:
    print("it's warm")
else:
    print("it's cold")

it's hot